__pycache__/
static/graphs/round_1.png
static/graphs/round_2.png
static/graphs/round_3.png
static/graphs/round_4.png
static/graphs/round_5.png
static/graphs/round_6.png
static/graphs/round_7.png
static/graphs/round_8.png
static/graphs/round_9.png
static/graphs/round_10.png
static/graphs/round_11.png
static/graphs/round_12.png
static/graphs/round_13.png
static/graphs/round_14.png
static/graphs/round_15.png
static/graphs/round_16.png
static/graphs/round_17.png
static/graphs/round_18.png
static/graphs/round_19.png
static/graphs/round_20.png
serviceAccountKey.json
.env
chat_messages.json