<!DOCTYPE html>
<html>
<head>
    <title>greed help</title>
    <!--add style soon gng -->
</head>
<body>
    <a href="/">go back</a>
    <h1>how to play?</h1>
    <p>the game of greed is a simple game of psychology and strategy. in rounds (which can vary in length), pick and integer number between what's given on the game page, i.e. 1 to 10.</p>
    <p>at the end of the round, a calculation is performed to determine how many points you earn. the number of points is defined by:</p>
    <p>
        <code>(number picked) / (number of people choosing the number)</code>
    </p>
    <p>for example, if 4 people choose the number 20, each will receive 20 / 4 = 5 points. If only 1 person chooses the number 9, that person will receive 9 / 1 = 9 points. notice how even though the person who chose 9 picked a number less than 20, that person still gains more points as the number 9 was picked less.</p>
    <p>the current game will end when a player gets some amount of points idk it's still being made</p>
</body>    
</html>